@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #123c5e;
}

.stroka {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: space-between;
    column-gap: 8%;
}

.stroka-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 10%;
    padding-top: 3rem;
}

.form-box h2 {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    align-content: center;
}

.form-box {
    width: 240.85px;
    height: 340.99px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box .inputbox img {
    align-items: center;
    width: 200.85px;
    height: 230.83px;
}

.form-value {
    display: flex;
    justify-content: center;
    align-content: center;
}

.form-value .btn {
    margin-bottom: 1rem;
    margin-left: 1rem;
    display: inline-block;
    padding: .7rem 3rem;
    font-size: 20px;
    color: #fff;
    background:transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    cursor: pointer;
}